body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.side_bar {
  background-color: #0ea5e9;
  display: grid;
  grid-template-rows: 1fr 3fr 6fr;
  row-gap: 30px;
  height: 100vh;
}

.side_bar p {
  font-weight: 600;
  margin: 0;
}

.side_bar path {
  fill: white;
}

.side_bar_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  position: relative;
  padding-left: 20px;
}

.side_bar_title p {
  color: white;
  font-size: 30px;
}

.side_bar_title svg {
  width: 50px;
  height: auto;
}

.side_bar_nav svg, .side_bar_others svg {
  width: 25px;
  height: auto;
}

.side_bar_nav ul, .side_bar_others ul {
  list-style: none;
}

.side_bar_nav li, .side_bar_others li {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 15px 0;
}

.side_bar_nav p, .side_bar_others p {
  color: white;
  font-size: 20px;
}

.right_container {
  display: grid;
  height: 100vh;
  grid-template-rows: 20vh 80vh;
}

.header {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.header_first_row {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search_bar, .header_first_row_icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding-top: 5px;
  padding-left: 40px;
}

.search_bar svg, .header_first_row_icon svg {
  width: 25px;
  height: auto;
}

.search_bar input {
  width: 600px;
  height: 25px;
  background-color: #e5e7eb;
  border: none;
  border-radius: 10px;
}

.header_first_row_icon img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.header_first_row p {
  font-weight: 600;
  font-size: 20px;
}

.header_second_row {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.header_second_row_title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-left: 40px;
}

.header_second_row_title img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.header_title_first_line {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
}

.header_title_second_line {
  margin-top: 5px;
  font-weight: 600;
  font-size: 22px;
}

.header_second_row_button {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.header_second_row_button button {
  background-color: #0ea5e9;
  color: white;
  width: 85px;
  height: 35px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

.main_content {
  background-color: #e5e7eb;
}